.order_table {
  &-product_name {
    text-align: start !important;
  }

  &-link {
    @include google-link-style;
  }

  &-customer_name {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    &-avatar {
      border-radius: 999px;
      object-fit: cover;
    }
  }

  &-delivery_status {
    &-container {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
    }

    &-dot {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 999px;

      &-0 {
        background-color: $bg-delivered;
      }

      &-1 {
        background-color: $bg-canceled;
      }

      &-2 {
        background-color: $bg-transport;
      }

      &-3 {
        background-color: $bg-pending;
      }
    }
  }
}
