.primary_header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.5rem;
  padding: 1.75rem 3.75rem;
  border-bottom: 1px solid rgba($color: $dark-gray, $alpha: 0.2);
  position: relative;
  background-color: white;

  @include pc-small {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  @include mobile-large {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &-dropdown {
    position: absolute;
    top: 110%;
    z-index: 1;
    width: 240px;
    box-shadow: 0 0 5px 5px rgba($color: black, $alpha: 0.1);
    padding: 1rem !important;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &-title {
      @include font-heading($text-xl);
    }
  }
}
