.input {
  @include font($text-base, $font-normal);
  color: $dark-gray;
  border: 1px solid $dark-gray;
  border-radius: 0.5rem;
  padding: 1rem;

  &:focus {
    border-color: transparent;
    outline: 1px solid #008cff;
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    &-label {
      @include font-heading($text-xl);

      @include mobile-large {
        @include font-heading($text-base);
      }
    }

    &-input_field {
      width: 100%;
    }
  }
}
