.nav_link {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  @include font-button;

  &-active {
    background-color: $blue;
    color: white;
  }
}
