// Colors
$blue: #003f62;
$dark-gray: #232321;
$gray: #e7e7e3;
$link: #1a0dab;
$yellow: #ffa52f;
$gray-light: #f4f2f2;
$gray-main: #70706e;

$bg-delivered: $blue;
$bg-canceled: #ff4500;
$bg-transport: #008000;
$bg-pending: #ffa500;

// shadow
$box-shadow: 0 0 5px 0
  rgba(
    $color: #000000,
    $alpha: 0.1,
  );

// Font
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Rubik", sans-serif;
$font-semibold: 600;
$font-medium: 500;
$font-normal: 400;
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 32px;
$text-4xl: 36px;

// Unit
$sidebar-width: 260px;
